<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>photo</title>
</head>
<body>
    <img src='static/images/second.jpg' width="500" height="300"><br>
    <form action = '/' method = 'GET'>
        <button name='previous'>previous</button>
    </form>
    <form action = '/third' method = 'GET'>
        <button name='next'>next</button>
    </form>
</body>
</html>