<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Math</title>
</head>
<body>
    <form action="/answer" method="GET">
        <input type="text" name="valuea" placeholder="Enter value a"><br>
        <select name="math" required>
            <option value="plus">+</option>
            <option value="minus">-</option>
            <option value="multiply">*</option>
            <option value="split">/</option>
        </select><br>
        <input type="text" name="valueb" placeholder="Enter value b"><br>
        <button>=</button>
    </form>
</body>
</html>